@import './../utils/variables.scss';

body {
    margin: 0;
    padding: 0;
}
section{
    margin-bottom: 2em;
}
h1, h2, h3, h4{
    font-family: Kanit;
}
p, label{
    font-family: Montserrat;
}
button{
    border-radius: 8px;
    font-family: Montserrat;
    padding: 10px;
    font-weight: bold;
    border: none;
}
button:hover{
    cursor: pointer;
}
