@import './../utils/variables.scss';

body {
    margin: 0;
    padding: 0;
}
section{
    padding-bottom: 2em;
}
h1, h2, h3, h4{
    font-family: Kanit;
}
h1{
    font-size: 1em;
}
h2{
    font-size: .9em;
}
h3{
    font-size: .6em;
}
h4{
    font-size: 0.5em;
}
p, label, li{
    font-family: Montserrat;
    font-size: .6em;
}
button{
    border-radius: 8px;
    font-family: Montserrat;
    padding: 10px;
    font-weight: bold;
    border: none;
}
button:hover{
    cursor: pointer;
}


a {
    text-decoration: none;

}
a:visited{
    color:black

}
a:link {   text-decoration: none; }  a:visited {   text-decoration: none; }