//FONT FAMILY PARA <h1-4>
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@100;200;400&display=swap');

//FONT FAMILY PARA  <p> y Buttons
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;500&display=swap');

$main-red-color: #da543c;
$main-yellow-color: #faea87;
$main-gradient-color: linear-gradient(90deg, rgba(218,84,60,1) 35%, rgba(250,234,135,1)100%);