@import './../utils/variables.scss';

.gallery{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

}
.galleryCard{
    padding: 1.5em 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: burlywood;
    width: 100%;
    max-height: 14em;
    border-radius: 10px;
  
    h3{
        margin:12px 10px 5px;
    }
    img{
        width: 150px;
    }
}