@import './../utils/variables.scss';

.gallery{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;

}
.galleryCard{
    // flex: 1; /* Ocupa el espacio disponible dentro del contenedor */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 8em; /* Establece un ancho mínimo para la tarjeta */
    min-width: 7em;
    padding: 10px;
    margin: .2em .3em;
    background-color: burlywood;
    border-radius: 8px;

  
    h3{
        margin:12px 10px 5px;
    }
    img{
        width: 85%;
    }
}