@media (min-width: 550px) {
    .hide-on-large-screen {
      display: none;
    }
}
@media (max-width: 550px) {
    .navbar{
        display: none;
    }
}
header{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(52, 75, 6);
    padding: 1em;
    article{
        width: 90%;
    }
}nav{
    display: flex;
    align-items: center;
    width: 100%;
    padding-bottom: 1em;
}
ul{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    padding: 0;
}
.link{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1.1em;
    color: rgb(155, 16, 16);
    text-decoration: none;
    margin:  .4em;

}
.link:hover{
    color: rgb(33, 57, 135);
}
.menuHam{
    width: 200px;
    height: 300px;
    background-color: teal;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    
    li{
        color: white;
        font-weight: bold;
        font-size: 1.3em;
        letter-spacing: 2px;
        padding-left: 20px;
    }
    li:hover{
        background-color: blue;
        color: orange;
    }
    a{
        width: 100%;
    }
}
