.login-form {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  width: 70%;
  margin: 0 auto;
  padding: 10px;
  // border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #fff;
  // box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  
    label {
      margin-top: 10px;
      font-weight: bold;
    }
  
    input,
    select {
      margin-top: 8px;
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 8px;
    }
}

.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    // height: 100vh;
}

.login-success {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  
    p {
      font-size: 24px;
      margin-bottom: 20px;
    }
  
    img {
      max-width: 100%;
      height: auto;
      margin-bottom: 20px;
      width: 350px;
    }
  
    .home-link {
      display: block;
      text-decoration: none;
      font-size: 18px;
      transition: background-color 0.3s;
      width: 9em;
      margin: 1em auto 0;
      background: linear-gradient(90deg, rgb(218, 84, 60) 35%, rgb(250, 234, 135) 100%);
      border-radius: 8px;
      font-family: Montserrat;
      padding: 10px;
      font-weight: bold;
      border: none;
      background: $main-gradient-color;
      width: 11em;
      color: black;
    }
  
    .home-link:hover {
      background-color: #007BFF;
      color: #fff;
    }
}

.heaty-logo {
  width: 45%;
  padding: 50px;
  max-width: 400px;
}