@import './../utils/variables.scss';


.sign-up-form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    width: 90%;
    margin: 0 auto;
    padding: 20px;
    // border: 1px solid #ccc;
    border-radius: 8px;
    // background-color: #fff;
    // box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  
    label {
      margin-top: 10px;
      // font-weight: bold;
    }
  
    input,
    select {
      margin-top: 5px;
      padding: 8px;
      border: 1px solid #ccc;
      border-radius: 8px;
      font-size: 16px;
      padding: 12px ;
      margin: .7em 0;
    }
    
    button {
      display: block;
      text-decoration: none;
      font-size: 18px;
      padding: 12px 24px;
      border-radius: 5px;
      transition: background-color 0.3s;
      width: 9em;
      margin: 1em auto 0;
      background: linear-gradient(90deg, rgb(218, 84, 60) 35%, rgb(250, 234, 135) 100%);
  
      &:hover {
        background-color: #FF7A62;
      }
    }
}

.h1-form {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  width: 90%;
  margin: 0 auto;
  padding: 20px;
  border-radius: 8px;
  // background-color: #fff;
  align-items: center;
}
.backgroundRegister{
  background: url(assets/backgroundRegister.svg);
  background-size:  cover;
}
.buttonRegister{
  background: $main-yellow-color ;
}