.sectionResources{
    background: url(assets/Clip_path_group.png);
    background-size:  cover;
margin: auto;
width: 95%;
margin-bottom:5em ;
}

.articleNotFound{
    max-width: 20em;
}
.resourcesSliderMenu{
    display: flex;
    flex-direction: row;
    margin: auto;
    width: 90%;
    overflow-x: scroll;
    align-items: flex-start;
    // h2{
    //     margin-right: 2em;
    //     width: 34em;
    // }
}
.h3Resources{
    margin-right: 1.5em;
    min-width: 5em;
    font-size: 1em;
}
.resourcesSliderMenu::-webkit-scrollbar {
    width: 12px;               /* width of the entire scrollbar */
    height: 11px;
  }
  
.resourcesSliderMenu::-webkit-scrollbar-track {
background-color:   $main-red-color;        /* color of the tracking area */
border-radius: 8px;
}

.resourcesSliderMenu::-webkit-scrollbar-thumb {
background-color: $main-yellow-color;    /* color of the scroll thumb */
border-radius: 8px;       /* roundness of the scroll thumb */

}
.articleCard{
 display: flex;
 flex-direction: row;
 align-items: center;
 margin-bottom: 1em;
p{
    text-align: justify;
}
img{
    width: 7.3em;
    margin-right: .8em;
}
}
.bodyArticleCard{
    display: flex;
    flex-direction: column;
    h3{
        margin-bottom: 5px;
    }
    p{
        margin-top: 5px;
    }
}
