.sectionResources{
margin: auto;
width: 95%;
}
.articleCard{
    text-decoration: none;
p{
    text-align: justify;
}
}
.articleNotFound{
    max-width: 20em;
}
.resourcesSliderMenu{
    display: flex;
    flex-direction: row;
    margin: auto;
    width: 90%;
    overflow-x: scroll;
    align-items: flex-start;
    // h2{
    //     margin-right: 2em;
    //     width: 34em;
    // }
}
.h2Resources{
    margin-right: 2em;
    min-width: 5em;
}
.resourcesSliderMenu::-webkit-scrollbar {
    width: 12px;               /* width of the entire scrollbar */
    height: 11px;
  }
  
  .resourcesSliderMenu::-webkit-scrollbar-track {
    background-color:   $main-red-color;        /* color of the tracking area */
    border-radius: 8px;
  }
  
  .resourcesSliderMenu::-webkit-scrollbar-thumb {
    background-color: $main-yellow-color;    /* color of the scroll thumb */
    border-radius: 8px;       /* roundness of the scroll thumb */

  }
  .articleText{
    text-decoration: none;
  }
