.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 100px;
}
  
.article-container {
    margin-top: 20px;
}

.logoutimg {
    margin-top: 40px;
}