// @import './components/header';
@import './components/home';
@import './components/gallery';
@import './components/zone';
@import './components/resources';
@import './components/profile';
@import './components/logIn';
@import './components/signUp';
@import './components/register';
@import './components/quiz';
@import './components/minilecture';
@import './components/welcome';
@import './components/navigation';
@import './components/article';
@import './components/logOut';
@import './components/info';
@import './components/game';
@import './components/chatBot';
@import './components/admin';
@import './views/app.scss';